*.pdf
draft.txt

# Ignore data and dataset outputs

/data/**
notebooks/tunisian_data/**
notebooks/tunisian_data_speech/
notebooks/*.csv
notebooks/caches/** */


# Ignore big model checkpoints
emotion-recognition-wav2vec2-IEMOCAP/
notebooks/wav2vec2_checkpoints/
pretrained_models/
wav2vec2_checkpoints/
*.ckpt
*.bin
*.safetensors


# Ignore virtual environments
vocal_env/
bertenv/

# Ignore model folders
models/**


__pycache__/
*.pyc

behavioral_alerts/core/__pycache__/

*.pkl
models/

behavioral_alerts/models/
behavioral_alerts/db/__pycache__
